/* 
@author Zachary Wartell

If printing, don't use scroll bars, just expand code examples to full height.
            
When printing to PDF, if in Chromne you must also enable "Background Graphics".  */
table.Code_Example > tbody > tr > td > div
{
    width: 100%;
    height: 100% ! important;
    overflow-y: hidden;
}
