/* Example from http://projects.jga.me/toc/#toc3 for lib/toc.js */

div#toc {
    top: 0px;
    left: 0px;   
        
    position: fixed;

    background: #8a8a9c; 
    border-style : solid;
    border-color: #000;
    border-width: 5px;
    box-shadow: none;
    max-width: 250px;
    min-width: none;
    /* box-shadow: inset -5px 0 5px 0px #000;  */    
    overflow-x : auto;
    resize : horizontal;

    padding-top: 20px;
    padding-right : 10px;
    color: black;
    float:right;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 20px;
}

#toc .toc-h3 {
    padding-left: 40px;
}

#toc .toc-active {
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;
}

/*
#toc-wrapper {
    width: 980px;
    margin: 0 auto;
    margin-bottom: 1000px;
  }
  .toc {
    background: #fefefe;
    width: 200px;
    position: fixed;
    border: 1px solid #ddd;
    color: #333;
  }
  .toc a {
    color: #333;
  }
  .toc .toc-h2 {
    margin-left: 10px
  }
  .toc .toc-h3 {
    margin-left: 20px
  }
  .toc-visible {
    color: #000;
    font-weight: bold;
  }
  .toc.right {
    right: 0
  }
  */